$primary: #ff2b85;
$primary-light: #d36292;
$primary-ultra-light: #e78bb3;
$secondary: #ffd271;
$secondary-light: #fadfa4;
$secondary-ultra-light: #fcedc9;
$accent: #000095;
$accent-light: #0000ce;
$accent-ultra-light: #1367e2;
$background-type-1: #f7c6cc;
$background-type-2: #d5dfe6;
$background-type-3: #000000;

$light-gray: #ccc;
$gray: #d5dfe6;
$gray-1: #666;
$gray-2: #999;
$gray-3: #eee;
$black: #333;

$red: #e65454;
